@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap");
html {
  font-size: 0.9rem;
}

@media (min-width: 600px) {
  html {
    font-size: 1.3125rem;
  }
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.container {
  width: 90%;
  max-width: 570px;
  margin: 0 auto;
}

/* TYPOGRAPHY */

.accent-text {
  display: block;
}

.accent-text,
.name,
time {
  font-weight: 900;
  color: #99d930;
}

h1 .accent-text {
  font-size: 5rem;
}

h2 .accent-text {
  font-size: 3.75rem;
}

h1,
h2,
h3 {
  font-weight: 300;
}

h1 {
  font-size: 3.75rem;
  margin-top: 0;
}

h2 {
  font-size: 2.625rem;
  margin: 0 0 0.476em 0;
  padding: 0.476em 0;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
}

h3 {
  font-size: 2.25rem;
  font-weight: 900;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

.small-text {
  font-size: 1rem;
  margin-top: 0.3125em;
}

a {
  color: #99d930;
  font-weight: 900;
}

a:hover,
a:focus {
  color: #131313;
}

/* LAYOUT */
header,
section {
  padding: 4.762em 0;
}

.inverse {
  color: #fff;
  background: #252525;
}

.inverse .btn:hover,
.inverse .btn:focus {
  color: #252525;
  background: #fff;
}

.btn {
  display: inline-block;
  color: #252525;
  background: #99d930;
  margin-top: 1.19em;
  padding: 0.476em 1.19em;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: #fff;
  background: #252525;
}
