@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 21px;
  font-weight: 300;
  text-align: center;
}

.container {
  width: 570px;
  margin: 0 auto;
}

/* TYPOGRAPHY */

.accent-text {
  display: block;
}

.accent-text,
.name,
time {
  font-weight: 900;
  color: #99d930;
}

h1 .accent-text {
  font-size: 80px;
}

h2 .accent-text {
  font-size: 60px;
}

h1,
h2,
h3 {
  font-weight: 300;
}

h1 {
  font-size: 60px;
  margin-top: 0;
}

h2 {
  font-size: 42px;
  margin: 0 0 20px 0;
  padding: 20px 0;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
}

h3 {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

.small-text {
  font-size: 16px;
  margin-top: 6px;
}

a {
  color: #99d930;
  font-weight: 900;
}

a:hover,
a:focus {
  color: #131313;
}

/* LAYOUT */
header,
section {
  padding: 100px 0;
}

.inverse {
  color: #fff;
  background: #252525;
}

.inverse .btn:hover,
.inverse .btn:focus {
  color: #252525;
  background: #fff;
}

.btn {
  display: inline-block;
  color: #252525;
  background: #99d930;
  margin-top: 25px;
  padding: 10px 25px;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: #fff;
  background: #252525;
}
